mixin link(href, name)
    a(href=href)&attributes(attributes)= name
html
    body
        table
            tr
                th User ID
                th First Name
                th Last Name
                th Email
                th Address
                th Age
            each client in clients
                tr
                    td #{client.userid}
                    td #{client.firstName}
                    td #{client.lastName}
                    td #{client.email}
                    td #{client.address}
                    td #{client.age}
                        |
                        |
                        +link('/edit', 'Edit')(class="btn")
                        |
                        |
                        +link('/delete', 'Delete')(class="btn")