html
    body
        table
            tr
                th User ID
                th First Name
                th Last Name
                th Email
                th Address
                th Age
            each client, index in clients
                tr
                    td #{client.userId}
                    td #{client.firstName}
                    td #{client.lastName}
                    td #{client.email}
                    td #{client.address}
                    td #{client.age}
                        |
                        |
                        a(href=`/edit/${client.userId}`) Edit
                        |
                        |
                        a(href=`/delete/${client.userId}`) Delete