html
    body
        table
            tr
                th User ID
                th First Name
                th Last Name
                th Email
                th Age
            tr
                form(action=`/edit/${client.userId}` method="post")
                    td
                        input(placeholder="UserID" type="text" name="userId" value=client.userId)
                    td
                        input(placeholder="First Name" type="text" name="firstName" value=client.firstName)
                    td
                        input(placeholder="Last Name" type="text" name="lastName" value=client.lastName)
                    td
                        input(placeholder="Email" type="text" name="email" value=client.email)
                    td
                        input(placeholder="Age" type="text" name="age" value=client.age)
                    td
                        input(type="submit" value="Save")
        a(href="/clientTable") Return




